@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap");
* {
  font-family: "Mulish";
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/delorean-palm-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
body header nav {
  width: 100%;
  color: #f7f7f7;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
body header nav h2 {
  font-size: 24px;
  font-weight: bolder;
  margin-left: 72px;
}
body header nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}
body header nav li {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  /*space-evenly anstatt margin?*/
  color: #f7f7f7;
  font-size: 13px;
  font-weight: bold;
}
body header nav #nav-container {
  display: flex;
  justify-content: space-between;
}
body header img {
  height: 45px;
  width: 45px;
}
body header h1 {
  margin-top: 18px;
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: bold;
  color: #f7f7f7;
}
body header a {
  color: #f7f7f7;
  text-decoration: none;
}
body header a:hover {
  text-decoration: underline;
}
body header #header-bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
body header #header-bottom .header-bottom-col {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  font-weight: normal;
  width: 26%;
  padding: 3%;
  background-color: #353535;
  color: #bbbbbb;
  line-height: 24px;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}
body header #header-bottom .header-bottom-col .hb-text {
  padding-left: 24px;
}
body header #header-bottom .header-bottom-col .hb-text h5 {
  padding-bottom: 24px;
  color: #f7f7f7;
  line-height: 0;
}
body header #main-title-con {
  width: 80%;
}
body header #main-title-con h6 {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
body header #main-title-con a h6 {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #f7f7f7;
}
body section {
  width: 80%;
  padding-top: 48px;
  display: flex;
}
body section .main-col {
  margin-left: 50px;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  color: #999999;
}
body section .main-col img {
  height: 32px;
  width: 32px;
}
body section .main-col h5 {
  margin-top: 16px;
  margin-bottom: 8px;
  color: #333333;
}
body footer {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
}
body footer a {
  font-size: 16px;
  color: #646d75;
  font-weight: normal;
  text-decoration: none;
}
body footer a:hover {
  text-decoration: underline;
}
body footer h5 {
  font-size: 18px;
  font-weight: 600;
  color: #444444;
  padding-top: 40px;
  padding-bottom: 30px;
}
body footer .footer-col {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

@media only screen and (max-width: 950px) {
  nav h2 {
    margin-left: 0;
  }

  section {
    width: 700px;
  }

  .hb-text p {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  nav {
    background-color: #353535;
  }
  nav h2 {
    margin-left: 0;
  }

  .header-bottom-col {
    visibility: hidden;
  }

  section {
    width: 100%;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
